body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
}

h1 {
    color: #333;
}

form {
    margin: auto;
    max-width: 300px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: fit-content;
    height: fit-content;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

